.App {
    height: 100vh;
    display: flex;
    background-color: #020230;
    color: white;
    background: linear-gradient(to bottom, transparent, #020230), url("./assets/bg.jpg") center top;
}

.main {
    width: 75%;

    display: flex;
    flex-direction: column;
}

.top {
    height: 50%;
    position: relative;
}

.timer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    left: 100px;
}

.bottom {
    height: 50%;
}

.Trivia {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.question {
    width: 80%;
    background: linear-gradient(#100241, black);
    border: 2px solid white;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
}

.answers {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.answer {
    width: 40%;
    padding: 15px;
    text-align: center;
    background: linear-gradient(#0e0124, #22074d);
    border: 1px solid white;
    font-size: 20px;
    font-weight: 300;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 10px 20px 10px;
}

.answer:hover,
.answer.active {
    background: mediumblue;
}

.answer.correct {
    animation: correct 3s ease forwards;
}

@keyframes correct {
    0%,
    25%,
    45% {
        background: mediumblue;
    }
    20%,
    40%,
    60% {
        background: linear-gradient(#0e0124, #22074d);
    }
    62%,
    100% {
        background: green;
    }
}

.answer.wrong {
    animation: wrong 3s ease forwards;
}

@keyframes wrong {
    0%,
    25%,
    45% {
        background: mediumblue;
    }
    20%,
    40%,
    60% {
        background: linear-gradient(#0e0124, #22074d);
    }
    62%,
    100% {
        background: crimson;
    }
}

.pyramid {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moneyList {
    list-style: none;
    width: 100%;
    padding: 20px;
}

.moneyListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}
.earnedText {
    text-align: center;
}

.moneyListItem.active {
    background-color: teal;
}

.moneyListItemNumber {
    font-size: 18px;
    font-weight: 100;
    width: 30%;
}

.moneyListItemAmount {
    font-size: 20px;
    font-weight: 300;
}
.lose {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.againBtn {
    height: 50px;
    width: 50%;
    border-radius: 5px;
    align-self: center;
    background-color: greenyellow;
    margin-top: 20px;
    font-size: 20px;
    color: #282536;
}
.Start {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.startInput {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    border: none;
}

.startBtn {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 800px) {
    .App {
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .pyramid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        height: 30%;
        display: none;
    }
    .moneyList {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .moneyListItem {
        width: 40%;
        justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;
    }
    .main {
        align-self: center;
        width: 100%;
    }
    .timer {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 150px;
    }
    .answer {
        width: 80%;
        margin: 10px;
    }
}
